<div class="jumbotron homepage">
  <!-- <h1>DrinkGram</h1> -->
  <p class="lead">
    <h1>DrinkGram</h1>
    <img src="http://image.spreadshirt.com/image-server/v1/designs/10670964,width=178,height=178/Beer-glass-with-wings-for-Beer-Festival-visitors..png" alt="Cheers!"><br>
    Cheers!
  </p>
  <p><a class="btn btn-lg btn-success btn-block" ng-href="#">Buy a Drink!</a></p>
  <p><a class="btn btn-lg btn-success btn-block" ng-href="#">Get a Drink!</a></p>
</div>

<div class="row marketing">
  <h4>Welcome to DrinkGram</h4>
  <p>
    DrinkGram is a free app to share and really connect during all of life's moments: the good days, bad days or just because days. Now you can buy your friend a round, or be treated yourself, and share your day over a cold pint even when distance or a busy schedule means you can't be there in person.
  </p>

</div>
